#container{
    border:2px solid black;
    background-color: yellow;
    
}
#root h1{
    color: green;
}
.header{
    height: 50px;
    width: 100%;
    background-color: rgb(80, 181, 214);
    border:2px solid black;
    border-radius:5px;
    padding: 4px;
    display:flex;
    justify-content: space-evenly
}
.pic{
    height:auto;
    width:50px;
    margin-top:10px;
    margin-left:10px;
    border:2px solid black;
    border-radius:15px;
}