.header{
    display: flex;
    justify-content: space-between;
    border:1px solid black;
    
}
.logo{
    width:200px;
    border:1px solid rgb(134, 62, 62);
    border-radius:5px;
    margin:2px;
    
}
.Tag-line{
    height:75px;
    width: auto;
    margin:5px;
    text-align: center;
}
.Tag-line > h2{
    font-size:45px;
    font-style: italic;
    margin: 0px;
    padding: 40px;
    font-weight: 400px;
    color:rgba(230, 99, 17, 0.811);
}
.nav-items{
    border-radius:5px;
    margin:2px;
}
.nav-items > ul{
    display:flex;
    justify-content: space-evenly;
}
.nav-items > ul > li{
    font-size: 24px;
    padding:10px;
    list-style-type:none;
    margin:2px;
}
/* rest-card */
.rest-card{
    width:200px;
    min-height:350px;
    border:1px solid black;
    background-color: #f0f0f0;
    padding:3px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    overflow: hidden;
}
.rest-card:hover{
    box-shadow: 5px 5px 15px rgb(216, 74, 22);
    cursor: pointer;
}
.search{
    padding:10px;
}
.res-image{
    width:100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}
.res-card >h4{
    margin: 10px 0 5px 0;
    font-size: 18px;
    white-space: nowrap; 
    overflow: hidden;
    
}
.rest-container{
    display:flex;
    flex-wrap: wrap;
    gap:12px;
}
